
mark.purple {
  color: rgb(168, 85, 247);
  background-color: unset;
}

mark.red {
  color: rgb(239, 68, 68)
  background-color: unset;
}


mark.blue {
  color: rgb(59, 130, 246);
  background-color: unset;
}

.nav-link.active > .menu-text {
  font-weight: bold;
  color: #961A49;
  text-decoration: none;
}

.nav-link.active > .menu-text:hover {
  text-decoration: underline;
}

.nav-link > .menu-text:hover {
  text-decoration: underline;
  color: #961A49;
}
/* Make the text */
.sidebar-item-section > .sidebar-item-container > a:first-child .menu-text {
  font-weight: bold; 
  font-size: 1rem;
}

.sidebar-item-container {
  margin-top: .5rem
}

/* Make the text 'Stakeholder Experiences' black */
.sidebar-item > .sidebar-item-container > a .menu-text {
}

.menu-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar-item-text.sidebar-link.active {
  font-weight: bold;
  color: #961A49;
}